{% extends 'adminBase.html' %}
{% block title %}
    Admin
{% endblock title %}
{% block body %}

<span class="addDelete">
<span class="addProduct">
<a href="{{ url_for('addcar') }}"><button>INSERT CAR</button></a>
</span>
<span class="deleteAll">
    <a href="{{ url_for('deleteAll') }}"><button>DELETE DB</button></a>
</span>
</span>

<div class="orders">
    {% for  i in range(cars|length) %}

    <div class="orderCard">
        <div class="orderImage">
            <img src="/static/images/{{ cars[i][1] }}" alt="">

        </div>
        <div class="orderTitle">
            <h2>{{ cars[i][3] }}</h2>

        </div>

        <div class="orderPrice">

            <p>Rs. {{ cars[i][2] }}</p>
        </div>

        {% for j in range(carnosAndRates|length) %}
            {% if cars[i][0] == carnosAndRates[j][0] %}
            <div class="orderRating">
                <p style="margin-bottom: 3px;"> {{ "%.2f"|format(carnosAndRates[j][1]) }} ({{ carnosAndRates[j][2] }})</p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="editDel">
        <span class="editBtn">
            <a href="/edit/{{ cars[i][0] }}"><button>EDIT</button></a>
        </span>
        <span class="delBtn">
            <a href="/delete/{{ cars[i][0] }}"><button>DELETE</button></a>
        </span>
    </div>
    </div>

    {% endfor %}
</div>
{% endblock body %}